doctype
html
	head
		title= title
	body
		h1.center(style='text-align: center;') Hi #{title}!!
		h2.center(style='text-align: center;') Web Developer
		p  Using jade... learning Node.js
		a(style='color: red;text-align: center;', data-id='my-p' href='http://nodejs.org') nodejs.org
		footer  @Copyright 2015